.fallback {
    color: var(--main-color);
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 2px 0 var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


@media (max-width: 640px) {
    .fallback {
        font-size: 1.4rem;
    }
}