.pagination {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.pagination button {
  background: none;    
  border: none;        
}


.pagination i {
    width: 100%;
    color: var(--main-color-alt);
    cursor: pointer;
    font-size: 1.5rem;
}

.pagination button:disabled i {
  color: var(--gray-300);
}