#EditTaskPage {
    margin: 100px 0px;
}

#EditTaskPage .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#EditTaskPage .container .arrow-left {
    position: absolute;
    left: 10%;
    top: 10%;
    color: var(--main-color);
    font-size: 1.5rem;
    transition: all 0.3s;
}

#EditTaskPage .container .arrow-left:hover {
    left: calc(10% - 10px);
}

@media(max-width:640px) {
    #EditTaskPage .container .arrow-left {
        top: 8%;
    }
}



