.AuthForm {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--white-color);
}

.AuthForm .auth-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--main-color);
}

.AuthForm .auth-subtitle {
  font-size: 0.95rem;
  color: var(--dark-color);
  opacity: 0.7;
  margin-bottom: 10px;
}

.AuthForm .Signup,
.AuthForm .Login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AuthForm .MuiOutlinedInput-root {
  border-radius: 10px !important;
  background-color: var(--lightWhite-color);
}

.AuthForm .MuiFormControl-root.MuiTextField-root {
  margin: 0;
}

.AuthForm .submit-btn {
  margin-top: 10px !important;
  padding: 12px;
  border-radius: 10px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}

.AuthForm .submit-btn:hover {
  background-color: var(--main-color-alt) !important;
}

.AuthForm .auth-footer {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--dark-color);
  opacity: 0.8;
}

.AuthForm .auth-footer span {
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
}

.AuthForm .MuiSvgIcon-root {
  color: var(--gray);
}

@media (max-width: 640px) {
  .AuthForm .auth-title {
    font-size: 1.2rem;
  }
  .AuthForm .auth-subtitle {
    font-size: 0.9rem;
  }
}
