#header {
  background-color: var(--main-color);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}

#header .brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

#header .brand button {
  padding: 0px;
}

#header .brand .logo h2 {
  font-size: 1.6rem;
  color: var(--light-color);
  margin: 0;
  transition: color 0.3s;
}

#header .brand .logo h2:hover {
  color: var(--gray-300);
}

#header .navlinks.desktop {
  display: flex;
  gap: 20px;
  align-items: center;
}

#header .navlinks .active {
  border-bottom: 1px solid var(--white-color);
}

#header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--light-color);
  font-weight: bold;
  transition: color 0.3s;
}

#header a:hover {
  color: var(--gray-300);
}

#header .user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

#header .user-actions .logout-btn {
  color: var(--light-color);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

#header .user-actions .logout-btn:hover {
  color: var(--gray-300);
}

#header .logout-btn svg {
  font-size: 1.8rem;
}

#header .burger-btn {
  display: none !important;
}

@media (max-width: 640px) {
  #header .navlinks.desktop {
    display: none;
  }

  #header .burger-btn {
    display: flex !important;
  }
  
  #header .burger-btn svg {
    font-size: 1.7rem;
  }

  #header .user-actions .theme-toggle i{
    font-size: 1.1rem;
  }

  #header .user-actions .logout-btn svg {
    font-size: 1.5rem;
  }

  #header .brand .logo h2 {
    font-size: 1.3rem;
  }
}

.drawer-header {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  border-bottom: 1px solid var(--gray-300);
  color: var(--main-color);
}
.drawer-header h3 {
  margin: 0;
  color: var(--main-color);
}

.drawer-header + ul li a span{
  font-weight: bold;
  color: var(--main-color);
  font-size: 1.1rem !important;
  transition: all 0.3s;
}

.drawer-header + ul li a:hover span {
  color: var(--gray);
  padding-left: 15px;
}

