.SpecialHead {
  text-transform: uppercase;
  font-family: cursive;
  text-shadow: 3px 0 var(--dark-color);
  font-size: 3rem;
  color: var(--main-color);
}

@media(max-width:640px) {
  .SpecialHead {
    font-size: 2rem;
  }
}