#CreateTaskPage, 
#EditTaskPage 
{
    margin: 100px 0px;
}

#CreateTaskPage .container,
#EditTaskPage .container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#CreateTaskPage .container .arrow-left,
#EditTaskPage .container .arrow-left
{
    position: absolute;
    left: 10%;
    top: 8%;
    color: var(--main-color);
    font-size: 1.5rem;
    transition: all 0.3s;
}


@media(max-width:1024px) {
    #CreateTaskPage .container .arrow-left,
    #EditTaskPage .container .arrow-left
    {
        top: 5%;
        left: 5%;
    }
}

