:root {
  --main-color: #982649;         
  --dark-color: #000000;         
  --light-color: #f4eded;        
  --white-color: #ffffff;        
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  End Global rules */
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
} 