:root {
  --main-color: #2196f3;        
  --main-color-alt: #1787e0;   
  --dark-color: #1e293b;      
  --light-color: #f8fafc;       
  --white-color: #ffffff;   
  --lightWhite-color: #f4eded;   
  --accent-color: #f59e0b;    
  --success-color: #22c55e;    
  --danger-color: #ef4444;   
  --gray-300: #d1d5db;  
  --gray:  #6c757d;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  End Global rules */
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
} 