:root {
  --main-color: #2563eb;        
  --main-color-alt: #1d4ed8;    
  --dark-color: #111827;        
  --light-color: #f9fafb;       
  --white-color: #ffffff;       
  --lightWhite-color: #f3f4f6;  
  --accent-color: #f59e0b;      
  --success-color: #16a34a;     
  --danger-color: #dc2626;      
  --gray-300: #d1d5db;          
  --gray: #6b7280;    
  --status-pending: #f59e0b;     
  --status-inprogress: #0075ff;  
  --status-completed: #22c55e;  
  --status-rejected: #f44336;      
  --active-color: #374151;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important; 
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: var(--dark-color) !important; 
  caret-color: var(--dark-color) !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important;
}


.container .Adjusted-Title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}