.task-table-section {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.task-table-section .tool-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.task-table-section .tool-row .Filter {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.1rem;
}

.task-table-section .tool-row svg {
  font-size: 2rem;
  font-weight: bold;
}
.task-table-section .tool-row .chip {
  outline: 1px solid var(--main-color);
  border: none;
}

.task-table-section .tool-row svg, .task-table-section .tool-row .chip{
  color: var(--main-color);
}

.task-table-wrapper {
  overflow-x: auto;
  scrollbar-color: var(--main-color) var(--gray-300);
  width: 100%;
}

.task-table {
  min-width: 1000px;
  border-spacing: 0;
  font-size: 15px;
  width: 100%;
}

.task-table thead td {
  background-color: var(--lightWhite-color);
  font-weight: bold;
  padding: 15px;
  border: 1px solid var(--gray-300);
}

.task-table thead td:first-child {
  border-radius: 5px 0px 0px 0px;
}

.task-table thead td:last-child {
  border-radius: 0px 5px 0px 0px;
}

.task-table tbody td {
  border-bottom: 1px solid var(--gray-300);
  border-left: 1px solid var(--gray-300);
  padding: 15px;
  transition: background-color 0.3s;
  max-width: 250px;      
  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: ellipsis;
}

.task-table tbody tr td:last-child {
  border-right: 1px solid var(--gray-300);
}

.task-table tbody tr:hover td {
  background-color: var(--lightWhite-color);
}

.status-label {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: var(--white-color);
}
.task-table tbody td .edit-btn{
  color: var(--main-color);
  font-size: 1.1rem;
  transition: color 0.3s;
}

.task-table tbody td .edit-btn:hover {
  color: var(--main-color-alt); 
}



.task-table tbody td .delete-btn {
  color: var(--danger-color);  
  cursor: pointer;
  transition: color 0.3s;
  background: none;       
  border: none;           
  outline: none;          
  cursor: pointer;   
}

.task-table tbody td .delete-btn:hover {
  color: #b91c1c;
}

.status-pending {
  background-color: var(--status-pending);
}

.status-inprogress {
  background-color: var(--status-inprogress);
}

.status-completed {
  background-color: var(--status-completed);
}

.status-rejected {
  background-color: var(--status-rejected);
}

.Table-fallback {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color);
}

.css-yewtcl-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--main-color) !important;
}
.MuiPaginationItem-root.Mui-selected:hover {
  background-color: var(--main-color-alt) !important;
}
.css-yewtcl-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: var(--white-color) !important;
  color: var(--dark-color) !important;
}

@media (max-width: 640px) {
  .task-table-section .tool-row .Filter{
    font-size: 1rem;
  }
  .task-table-section .tool-row svg {
    font-size: 1.7rem;
  }
}