#ProfileCard {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: var(--main-color);
    width: 320px;
    height: 240px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
}

#ProfileCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color-alt);
    transition: width 1.5s ease;
    z-index: 0;
    border-radius: 20px;
}

#ProfileCard:hover {
    box-shadow: var(--gray-300) 0px 5px 15px;
    transform: translateY(-3px);
    opacity: 0.92;
}

#ProfileCard:hover::before {
    width: 100%;
    border-radius: 20px;
}

#ProfileCard > * {
    z-index: 1;
}

#ProfileCard .imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#ProfileCard .StyledImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--white-color);
}

#ProfileCard .imageSection h2 {
    color: var(--lightWhite-color);
}

#ProfileCard .Description {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

#ProfileCard .Description h3 {
    color: var(--lightWhite-color);
    font-size: 1rem;
    font-weight: bold;
}

#ProfileCard .Description p {
    line-height: 1.1;
    color: var(--lightWhite-color);    
    font-weight: bold;
}
