#ListProfileCard {
    margin: 80px 0px;
}

#ListProfileCard .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#ListProfileCard .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 25px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

