#ListProfileCard {
  margin: 100px 0;
}

#ListProfileCard .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
  max-width: 1300px; 
  margin-left: auto;
  margin-right: auto;
}

#ListProfileCard .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  gap: 30px;
  justify-content: center;
  width: 100%;
}



